/*
.carousel-item img {
    transform: translateX(-600px);
}

.carousel-caption h1 {
    text-align: left;
    margin-left: -170px;
    margin-top: -400px;
    
}
.carousel-caption h3 {
    text-align: left;
    margin-left: -170px;
   
}
.carousel-caption h4 {
    text-align: left;
    margin-left: -170px;

}
.carousel-caption h6 {
    text-align: left;
    margin-left: -170px;

}

.button-container {
    text-align: left;
    margin-left: -170px;
    margin-top: -10px;
   
}

.green-button {
    background-color: rgb(118, 185, 0);
    color: black;  Cambia el color del texto a blanco para que se destaque en el fondo verde 
    padding: 10px 20px; /* Ajusta el padding según sea necesario 
    border: none; /* Elimina el borde 
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón 
    font-weight: bold
}

.img-logo2{
    margin-top: 10px;
    width:10%;
}

.horizontal-list {
    margin-top: 5px;
    list-style-type: none;
    padding: 0;
}

.horizontal-list li {
    display: inline;
}

.horizontal-list li:not(:last-child) a {
    padding-right: 10px; /* Ajusta el espaciado entre los elementos y el separador "|" 
    border-right: 1px solid rgba(107, 107, 107, 0.781); /* Añade un borde derecho a todos los elementos, excepto al último 
    color: rgba(107, 107, 107, 0.781); 
}
*/